<!DOCTYPE html>
<html>
	<head>
		<title>Список задач</title>
        <nav>
            {% if user.is_authenticated %}
            <form action="/accounts/logout/" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit">Выход</button>
            </form>
            {% else %}
            <a href="/accounts/login/">Вход</a>
            {% endif %}
        </nav>
	</head>
	<body>
		<h1>Мои задачи</h1>
		<ul>
			{% for task in tasks %}
			<li>
				<strong>{{ task.title }}</strong> — {% if task.is_done %}✔ Выполнено{% else %}⏳ Не выполнено{% endif %}
			</li>
			{% empty %}
			<li>Пока нет задач</li>
			{% endfor %}
		</ul>

        <a href="{% url 'task_create' %}">Создать задачу</a>
        <ul>
             {% for task in tasks %}
             <li>
                 {{ task.title }}
                 — <a href="{% url 'task_update' task.pk %}">Редактировать</a>
                 — <a href="{% url 'task_delete' task.pk %}">Удалить</a>
             </li>
             {% endfor %}
        </ul>
        <form method="GET">
            <select name="category">
                <option value="">Все категории</option>
                {% for c in categories %}
                <option value="{{ c.id }}">{{ c.name }}</option>
                {% endfor %}
            </select>
            <select name="status">
                <option value="">Любой статус</option>
                <option value="done">Выполнено</option>
                <option value="not_done">Не выполнено</option>
            </select>
            <input type="text" name="q" placeholder="Поиск...">
            <button type="submit">Применить</button>
        </form>
        <div>
            {% if tasks.has_previous %}
                <a href="?page={{ tasks.previous_page_number }}{{ params }}">Назад</a>
            {% endif %}

            Страница {{ tasks.number }} из {{ tasks.paginator.num_pages }}

            {% if tasks.has_next %}
                <a href="?page={{ tasks.next_page_number }}{{ params }}">Вперед</a>
            {% endif %}
        </div>
	</body>
</html>
